language: rust

rust: nightly

before_install:
  - sudo apt-get update

install:
    - sudo apt-get install libzmq3-dev libsodium-dev

script:
  - cargo build --verbose
  - cargo test --verbose
  - cargo bench --verbose
  - ./target/examples/msgsend
  - ./target/examples/version
