language: rust

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - libc6-dev

before_install:
  - wget https://github.com/jedisct1/libsodium/releases/download/1.0.16/libsodium-1.0.16.tar.gz
  - tar xvfz libsodium-1.0.16.tar.gz
  - cd libsodium-1.0.16 && ./configure --prefix=$HOME && make && make install && cd ..
  - wget https://github.com/zeromq/libzmq/releases/download/v4.2.5/zeromq-4.2.5.tar.gz
  - tar xvfz zeromq-4.2.5.tar.gz
  - cd zeromq-4.2.5 && ./configure --prefix=$HOME --with-libsodium && make && make install && cd ..

matrix:
  include:
    - rust: stable
      script:
        - cargo test --verbose --all-targets

    - rust: beta
      script:
        - cargo test --verbose --all-targets

    - rust: nightly
      script:
        - cargo test --verbose --all-targets

    - rust: nightly
      env: CLIPPY
      script:
        - rustup component add clippy-preview || travis_terminate 0
        - cargo clippy -- -D clippy::all
        - cargo clippy --all-targets --all-features -- -D clippy::all

  allow_failures:
    - rust: nightly
      env: CLIPPY

env:
  global:
  - PATH=$HOME/.local/bin:$PATH
  - LD_LIBRARY_PATH=$HOME/lib
  - PKG_CONFIG_PATH=$HOME/lib/pkgconfig
