#[link(name = "zmq",
       vers = "0.2",
       uuid = "54cc1bc9-02b8-447c-a227-75ebc923bc29")];
#[crate_type = "lib"];

use std;

import libc::{c_int, c_long, c_void, size_t, c_char};
import result::{result, ok, err};
