on: [push, pull_request]

name: Continuous integration

jobs:
  check:
    name: Build and Lint
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust: [stable, nightly]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy
      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --workspace --all-targets
      - name: Cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      # Update mtime on all our files so that `clippy` rechecks them
      - name: Touch source files for clippy recheck
        run: find -path ./target -prune -o -name "*.rs" -exec touch {} +
        shell: bash
      - name: Cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets -- -D warnings
